@{
    ViewData["Title"] = "Auction Board";
}
<header align="center">Auction Board</header><hr>
<h1 class="frontpage_description">Current Auctions:</h1>
<div align="right">
    <h3 class="dashboard_welcome">Hi,  @ViewBag.curUser.firstname.Remove(1).ToUpper()@ViewBag.curUser.firstname.Substring(1)! </h3>
</div><br>

<table class="table table-hover">
    <tr>
        <th>Product</th>
        <th>Seller</th>
        <th>Top Bid</th>
        <th>Time Remaining</th>
        <th>Action</th>
    </tr>
@foreach (var item in ViewBag.items)
{
    @if((item.endat - DateTime.Now.Date).Days+1 != 0)
    {
    <tr>
        <td><a href="item/@item.id">@item.name</a></td>
        <td>@item.seller.username</td>
        <td>@item.startingbid</td>
        <td>@((item.endat - DateTime.Now.Date).Days +1) Day(s)</td>
        @if(item.seller.username == @ViewBag.curUser.username)
        {
            <td><a href="item/delete/@item.id">Delete</a></td>
        }
        else
        {
            <td></td>
        }
    </tr>
    }
}
</table>
<form action="getnew">
    <button type="submit" class="btn btn-default">New Auction</button>
</form>
<div align="right">
    <h3 class="dashboard_wallet">Your Current Wallet: $@ViewBag.curUser.wallet</h3>
</div>
<hr>
<div align="center">
    <a href="logout">Logout<a>        
</div>
