<h1>@ViewBag.thisitem.name</h1>
<h3 class="title">Created by: @ViewBag.thisuser.username</h3>
<div align="right">
    <a href="/">Home<a>
    <a href="logout">Logout</a>        
</div>
<h4>Time Remaining: @((@ViewBag.thisitem.endat - DateTime.Now.Date).Days +1) Days</h4>
<p>@ViewBag.thisitem.description</p>
<h4>Current Highest Bid: By @ViewBag.thisbidder.username</h4>
<h3>$@ViewBag.thisitem.startingbid</h3>
<hr>
@if(ViewBag.isThere == true)
{
    <p>@ViewBag.error</p>
}
<form class="form-inline" asp-action="bid" method="post">
    <div class="form-group">
    <label for="currentbid">Your Bid (Must Be Higher Than the Current Bid):</label>
    <input type="hidden" id="id" name="id" value="@ViewBag.thisitem.id">
    <input class="form-control" id="currentbid" placeholder="Current Bid" type="text" name="currentbid"></div>
    <button type="submit" class="btn btn-default">Place the Bid</button>
</form>